* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

html,
body,
#root {
	height: 100%;
}

img {
	width: 100%;
	object-fit: contain;
}

a {
	color: inherit;
	text-decoration: none;
}
