.label {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	font-size: 1rem;
}

.input {
	width: 100%;

	padding: 0.5rem;

	border-radius: 0.5rem;
	border: 1px #b6b6b6 solid;

	font-size: 1rem;
}
