.container {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.subtitle {
	font-size: 0.875rem;
	font-weight: normal;
}

.productsList {
	list-style: none;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 1.5rem 0.5rem;
}

.productCard {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	background-color: var(--secondary-color);
	border-radius: 8px;

	padding: 0.5rem;
}

.productImage {
	aspect-ratio: 1 / 1.25;

	margin-bottom: 0.5rem;
}

.productImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.productName {
	font-size: 0.875rem;
	font-weight: normal;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.productPrice {
	font-size: 0.875rem;
}

/* @media (min-width: 600px) {
	.productsList {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
} */
