.container {
	width: 100%;
	display: flex;
	align-items: flex-start;

	padding: 1rem 0.75rem;

	background-color: var(--secondary-color);
}

.link {
	padding: 0.5rem;
}

.link img {
	height: 18px;
	width: auto;
}
